{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
    </script>
{% endblock %}

{% block body %}

    <div class="nav-scroller bg-white box-shadow">


        <nav class="nav nav-underline fixed-top bg-white box-shadow collapse navbar-collapse justify-content-center justify-content-sm-start d-inline-block    " style="margin-top: 56px; padding-bottom: 0">

            <div class="d-block pt-2 pb-0">
                <h4 class="place-title">Antoquia</h4>
            </div>
            <div class="d-block nav nav-tabs pb-0" role="tablist">

                <a class="nav-link d-inline-block active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" href="#">
                    <i class="fas fa-bus"></i>
                    Viajes
                    <span class="badge badge-pill bg-light align-text-bottom ">27</span>

                </a>

                <a class="nav-link d-inline-block" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" href="#">
                    <i class="fas fa-camera-retro"></i>
                    Fotos
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>

                </a>

                <a class="nav-link d-inline-block" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" href="#">
                    <i class="far fa-image"></i>
                    Lugares
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>

                </a>
            </div>





        </nav>

    </div>


    <main class="tab-content" id="myTabContent" style="margin-top: 50px">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <div class="media text-muted pt-3">
                    <img src="{{ asset('images/bp.jpg') }}" width="64" height="64" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@username</strong>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@username</strong>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@username</strong>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>
                </div>
                <small class="d-block text-right mt-3">
                    <a href="#">All updates</a>
                </small>
            </div>


        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <section class="gallery-block grid-gallery">
                <div class="container">
                    {#<div class="heading">
                        <h2>Grid Gallery</h2>
                    </div>#}
                    <div class="row">

                        {% for i in 1..9 %}
                        {#<div class="col-md-6 col-lg-4 item">
                            <a class="lightbox" href="http://kpopidols.com/wp-content/uploads/2017/10/lisa-blackpink.jpg">
                                <img class="img-fluid image scale-on-hover" src="http://kpopidols.com/wp-content/uploads/2017/10/lisa-blackpink.jpg">
                            </a>
                        </div>#}
                            <div class="col-md-4 col-6 mb-1">
                                <div class="card border-0 transform-on-hover">
                                    <a class="lightbox" href="http://kpopidols.com/wp-content/uploads/2017/10/lisa-blackpink.jpg">
                                        <img src="http://kpopidols.com/wp-content/uploads/2017/10/lisa-blackpink.jpg" alt="Card Image" class="card-img-top">
                                    </a>
                                    <div class="card-body p-2">
                                        <h6 class="m-0 p-0"><a href="#">Lorem</a></h6>
                                        <p class="text-muted card-text p-0 m-0"> urna.</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </section>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...contact</div>
    </main>



{% endblock %}
